{#
/**
 * @file
 * 显示yunke_help模块的使用首页
 * 在模板中可使用drupal默认提供的所有模板变量和函数、过滤器、标签
 *
 * yunke:该变量的值是传入本模板的整个渲染数组
 * - yunke.pluginManagerIds: 系统中所有插件管理器的服务id构成的数组
 * - yunke.Drupal_VERSION：系统版本号
 * - yunke.VERSION：本模块版本号
 *
 * @see yunke_help\templates\yunke-help-plugin.html.twig
 */
#}

{{ attach_library('yunke_help/global') }}
<div class="yunke-help">
    <div class="yk-header clearfix">
        <h1 class="page-title">Yunke-help模块:为辅助研究Drupal而生</h1>
        <div class="riskNote">请注意：本模块V2.0.0及之后的版本才可用于生产站点！详见模块根目录的readme文件</div>
    </div>
    <div class="yk-content">

        <div class="yk-table">
            <div class="yk-table__header">
                基本信息：
            </div>
            <div class="yk-table__items">
                <span class="yk-table__item one-three">Drupal版本：{{ yunke.Drupal_VERSION }}</span>
                <span class="yk-table__item one-three">本模块版本：{{ yunke.VERSION }} （<a href="http://www.indrupal.com/yunkehelp" target="_blank">下载最新</a> / <a href="/admin/modules/uninstall#edit-uninstall-yunke-help" target="_blank">卸载</a>）</span>
                <a class="yk-table__item one-three" href="/" target="_blank">本站首页</a>
                <a class="yk-table__item one-three" href="/yunke-help/phpinfo" target="_blank">php环境信息</a>
                <a class="yk-table__item one-three" href="https://www.drupal.org/project/examples" target="_blank">下载全部API示例代码</a>
                <span class="yk-table__item one-three">
                    <a href="http://www.indrupal.com/yunkehelp#comment-form" target="_blank">反馈建议</a> /
                    <a href="http://www.indrupal.com/zanzhu" target="_blank">赞助支持</a>
                </span>
            </div>
        </div>

        <div class="yk-table">
            <div class="yk-table__header">
                自定义控制器执行：
                <div class="yk-table__note">请先在yunke_help/src/Controller/Test.php中自定义代码</div>
            </div>
            <div class="yk-table__items">
                <a class="yk-table__item one-fourth" href="/yunke-help/test" target="_blank">测试</a>
                <a class="yk-table__item one-fourth" href="/yunke-help/test-1" target="_blank">1号测试</a>
                <a class="yk-table__item one-fourth" href="/yunke-help/test-2" target="_blank">2号测试</a>
                <a class="yk-table__item one-fourth" href="/yunke-help/test-3" target="_blank">3号测试</a>
            </div>
        </div>

        <div class="yk-table">
            <div class="yk-table__header">
                快捷操作：
            </div>
            <div class="yk-table__items">
                <a class="yk-table__item one-half" href="/yunke-help/cache-clean" target="_blank">一键清空数据库缓存表(比管理后台的清缓存更加彻底)</a>
                <a class="yk-table__item one-half" href="/yunke-help/rest-password" target="_blank">重置本账户密码</a>
                <a class="yk-table__item one-half" href="/yunke-help/twig-clean-cache" target="_blank">删除全部twig编译后模板（模板缓存）</a>
                <a class="yk-table__item one-half" href="/yunke-help/twig-cache-garbage-collection" target="_blank" title="8.4时drupal系统此处还有bug（20180628）">删除失效的twig编译后模板（保留有效缓存）</a>
                <a class="yk-table__item one-half" href="/yunke-help/op/reparse-all-locale-js-file" target="_blank" title="当已加载过的js文件更新后，js程序中的单复数翻译方法无法翻译新增字符串时执行">重新提取js中的翻译</a>
                <a class="yk-table__item one-half" href="/yunke-help/op/locale-rebuild-js" target="_blank" title="当提供前端翻译的翻译数据js文件丢失时执行">重建js翻译数据文件</a>
                <a class="yk-table__item one-half" href="/yunke-help/op/delete-unused-managed-file" target="_blank" title="仅删除通过托管文件API(ManagedFile API)上传的文件,不管处于临时还是永久状态，只要使用次数为0即会被删除，慎用！临时文件会被自动删除！">删除没有被用到的文件</a>
                <a class="yk-table__item one-half" href="/yunke-help/op/cron-key" target="_blank" title="修改外部URL触发计划任务所使用的密钥，修改后之前的触发链接将失效，请在密钥泄露时使用，任务触发链接不应公开，避免恶意性能攻击">修改计划任务Cron触发URL密钥</a>
                <a class="yk-table__item one-half" href="/yunke-help/op/clean-batch" target="_blank" title="当批处理失败时，可能会残留批设置数据，该功能将清理残余，注意：当批处理正在运行时严禁调用，线上站点应开启维护模式后再执行">清理批处理残余数据</a>
                <a class="yk-table__item one-half" href="/yunke-help/op/rebuild-routes" target="_blank" title="当路由系统损坏，或新建的视图、搜索页等出现404响应时，可使用该功能重建路由，这会将路由表全部删除再重建">重建全部路由</a>
                <a class="yk-table__item one-half" href="/yunke-help/op/rebuild-theme-registry" target="_blank" title="通常主题钩子注册数据是在模块或主题被安装后进行收集，一旦收集，此后不会再次扫描，但开发阶段通常需要动态添加，此时可以使用该功能再次收集，而无需重新安装模块或主题">刷新主题钩子注册数据</a>

            </div>
        </div>

        <div class="yk-table">
            <div class="yk-table__header">
                查看数据：
            </div>
            <div class="yk-table__items">
                <a class="yk-table__item one-three" href="/yunke-help/container-run" title="容器数据帮助您了解系统执行流程"
                   target="_blank">运行时容器数据（包含运行时注入的服务）</a>
                <a class="yk-table__item one-three" href="/yunke-help/container" title="容器数据帮助您了解系统执行流程" target="_blank">静态容器数据（不含运行时注入的服务）</a>
                <a class="yk-table__item one-three" href="/yunke-help/event" title="事件派发器数据帮助您了解系统执行流程" target="_blank">事件派发器数据</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/route-name" title="依据路由名查看最终的定义"
                   target="_blank">按路由名查看最终路由定义</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/route-path" title="依据路径查看路由系统处理结果"
                   target="_blank">按路径查看路由结果</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/hook" title="查看钩子实现"
                   target="_blank">查看钩子实现情况</a>
                <a class="yk-table__item one-three" href="/yunke-help/theme-registry" title="主题开发的模板数据" target="_blank">主题钩子注册数据</a>
                <a class="yk-table__item one-three" href="/yunke-help/class-path" title="必须是全限定类名" target="_blank">依据类名查找类定义文件</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/config-schema" title="查看配置数据的模式定义"
                   target="_blank">查看config schema数据</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/cache-contexts" title="查看系统中有哪些缓存上下文，她们被用于缓存id"
                   target="_blank">缓存上下文数据</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/data-type" title="查看系统中全部的类型化数据类型及其定义"
                   target="_blank">类型化数据类型</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/route-enhancers" title="查看系统中全部的路由增强器服务id"
                   target="_blank">路由增强器</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/paramconverter" title="这些服务将路径中的原始参数转变为需要的数据对象"
                   target="_blank">全部路由参数转化器</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/menu-tree" title="通过该功能可以知道菜单父id什么，以此确定菜单位置"
                   target="_blank">查看菜单树结构（父ID）</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/language-list" title="查看系统提供的标准语言代码列表"
                   target="_blank">标准语言代码列表</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/language-negotiation-config" title="查看被设置的语言协商方法及顺序等"
                   target="_blank">查看语言协商配置</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/language-config-override" title="查看站点默认语言、初始安装语言、语言配置覆写数据"
                   target="_blank">查看语言配置覆写数据</a>
              <a class="yk-table__item one-three" href="/yunke-help/print-data/view-config" title="包含未启用的视图"
                 target="_blank">查看视图配置数据</a>
              <a class="yk-table__item one-three" href="/yunke-help/print-data/schema-version" title="查看全部已安装模块当前的模式schema版本号，模式版本号用于追踪更新" target="_blank">查看各模块当前的模式schema版本号</a>
              <a class="yk-table__item one-three" href="/yunke-help/print-data/post-update" title="查看全部已安装模块已执行过的数据更新钩子，数据更新钩子用于追踪数据更新" target="_blank">查看已执行的数据更新钩子</a>
            </div>
        </div>
        <div class="yk-table">
            <div class="yk-table__header">
                YAML文件编码、解码：
                <div class="yk-table__note">编码：将指定的php格式数据转化为yaml格式；解码：将指定的yaml格式数据转化为php格式。</div>
            </div>
            <div class="yk-table__items">
                <a class="yk-table__item one-half" href="/yunke-help/yaml/encode" target="_blank">编码</a>
                <a class="yk-table__item one-half" href="/yunke-help/yaml/decode" target="_blank">解码</a>
            </div>
        </div>

        <div class="yk-table">
            <div class="yk-table__header">
                插件：
                <div class="yk-table__note">查看插件定义数据、清理定义缓存（注：实体类型插件单独列出）：</div>
            </div>
            <div class="yk-table__items">
                {% include("@yunke_help/yunke-help-plugin.html.twig") %}
                {# yunke.pluginManagerForm #}
            </div>
        </div>

        <div class="yk-table">
            <div class="yk-table__header">
                实体相关：
                <div class="yk-table__note">查看操作实体相关的数据</div>
            </div>
            <div class="yk-table__items">
                <a class="yk-table__item one-three" href="/yunke-help/entity/show-definitions"
                   target="_blank">查看全部实体类型</a>
                <a class="yk-table__item one-three" href="/yunke-help/entity/clear-definitions"
                   target="_blank">清除实体定义缓存</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/bundle-info" title="查看全部实体类型的全部bundle信息"
                   target="_blank">实体类型bundle信息</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/field-config" title="查看全部实体字段配置数据"
                   target="_blank">实体字段配置数据</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/base-field-definitions" title="查看某个实体类型的基本字段定义，不含bundle字段定义，基本字段被该实体类型的所有bundle共用，该功能仅用于可字段化实体类型"
                   target="_blank">实体类型基本字段定义</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/bundle-field-definitions" title="查看某个实体类型的某个bundle的特有字段定义（不含基本字段定义,但含对基本字段定义的覆写）"
                   target="_blank">bundle特有字段定义</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/field-definitions" title="查看某个实体类型的某个bundle的全部字段定义（含bundle的特有字段定义、基本字段定义及覆写）"
                   target="_blank">bundle完整字段定义</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/field-storage-definitions" title="查看某个实体类型的储存字段定义，这会包含该实体类型的所有bundle的字段定义，系统以此确定数据库结构"
                   target="_blank">实体类型储存字段定义</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/field-map" title="查看全部可字段化实体类型的字段映射信息"
                   target="_blank">字段映射</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/extra-fields" title="查看某个实体类型的某个bundle的伪字段定义，伪字段用于辅助显示和实体紧密相关的信息，并不是正在的字段"
                   target="_blank">伪字段（额外字段）</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/entity-storage-schema" title="查看某个内容实体类型共享表的数据库储存模式，可直接用于数据库组件以建立数据库表，仅限可字段化实体类型"
                   target="_blank">实体共享表数据库Schema</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/entity-Dedicate-schema" title="查看某个内容实体类型某个专用表的数据库储存模式，可直接用于数据库组件以建立数据库表，仅限可字段化实体类型"
                   target="_blank">实体专用表数据库Schema</a>
                <a class="yk-table__item one-three" href="/yunke-help/print-data/blockEntity-activeTheme" title="仅当前主题的所有块配置实体数据"
                   target="_blank">当前主题的块配置实体</a>
            </div>
        </div>

        <div class="yk-table">
            <div class="yk-table__header">
                辅助资源链接：
                <div class="yk-table__note">你可在yunke_help/templates/yunke-help-index.html.twig中编辑添加常用资源</div>
            </div>
            <div class="yk-table__items">
                <a class="yk-table__item" href="http://www.nowicode.com/" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 314.4 45.6" style="height: 40px;">
                        <title>爱码文档汇</title>
                        <path d="M-372.6,160.5h9.5l12.4,28.5V160.5h8.5v45.6h-9.5l-12.4-28.5v28.5h-8.5Z"
                              transform="translate(372.6 -160.5)" fill="#32a0ce"/>
                        <path d="M-334.6,175.7h30.4v30.4h-30.4Zm8.5,7.6v15.2h13.4V183.3Z"
                              transform="translate(372.6 -160.5)" fill="#32a0ce"/>
                        <path d="M-298.5,175.7h8.1l4.3,18.1,4.3-18.1h10.4l4.3,18.1,4.3-18.1h8.1l-7.1,30.4h-10.4l-4.3-18.1-4.3,18.1h-10.4Z"
                              transform="translate(372.6 -160.5)" fill="#32a0ce"/>
                        <path d="M-233.9,160.5h8.5v45.6h-8.5Z" transform="translate(372.6 -160.5)" fill="#32a0ce"/>
                        <path d="M-202.6,160.5h30.4v7.6h-21.9v30.4h21.9v7.6h-30.4Z" transform="translate(372.6 -160.5)"
                              fill="#32a0ce"/>
                        <path d="M-164.6,175.7h30.4v30.4h-30.4Zm8.5,7.6v15.2h13.4V183.3Z"
                              transform="translate(372.6 -160.5)" fill="#32a0ce"/>
                        <path d="M-104.7,160.5h8.5v45.6h-8.5v-4.8l-4.8,4.8h-17.1V175.7h21.9Zm-13.4,22.8v15.2h13.4V183.3Z"
                              transform="translate(372.6 -160.5)" fill="#32a0ce"/>
                        <path d="M-88.6,175.7h30.4v19H-80.1v3.8h21.9v7.6H-88.6Zm8.5,7.6v3.8h13.4v-3.8Z"
                              transform="translate(372.6 -160.5)" fill="#32a0ce"/>
                    </svg>
                </a>
                <a class="yk-table__item" href="http://www.indrupal.com/" target="_blank">水滴间（云客个人站）</a>
                <a class="yk-table__item" href="https://www.drupal.org/" target="_blank">drupal官网</a>
                <a class="yk-table__item" href="https://www.drupal.org/project/drupal" target="_blank">下载各版本drupal</a>
                <a class="yk-table__item" href="https://www.drupal.org/docs" target="_blank">drupal 官网文档</a>
                <a class="yk-table__item" href="https://api.drupal.org/api/drupal" target="_blank">drupal API官网自动文档（从注释中提取）</a>
                <a class="yk-table__item" href="https://www.drupal.org/docs/drupal-apis" target="_blank">drupal API文档</a>
                <a class="yk-table__item" href="https://www.drupal.org/docs/updating-drupal/overview-of-options" target="_blank">drupal更新手册</a>
                <a class="yk-table__item" href="https://localize.drupal.org/" target="_blank">drupal官网翻译站</a>
                <a class="yk-table__item" href="https://security.drupal.org" target="_blank">drupal官方安全报告</a>
                <a class="yk-table__item" href="https://www.drupal.org/docs/develop/security/your-drupal-site-got-hacked-now-what" target="_blank">站点被黑解决方案</a>
                <a class="yk-table__item" href="https://www.drupal.org/project/examples" target="_blank">官方示例代码</a>
                <a class="yk-table__item" href="https://simplytest.me/project/drupal" target="_blank">drupal在线沙盒测试</a>
                <a class="yk-table__item" href="https://www.drupal.org/node/147789" target="_blank">drupal开发工具</a>
                <a class="yk-table__item" href="https://www.drupal.org/docs/develop/standards" target="_blank">drupal开发标准</a>
                <a class="yk-table__item" href="https://www.drupal.org/core/maintainers/past" target="_blank">drupal核心维护人员列表</a>
                <a class="yk-table__item" href="https://dri.es/" target="_blank">drupal创始人主页</a>
                <a class="yk-table__item" href="https://getcomposer.org" target="_blank">composer官网</a>
                <a class="yk-table__item" href="https://www.phpcomposer.com/" target="_blank">composer中文镜像</a>
                <a class="yk-table__item" href="http://symfony.com/" target="_blank">Symfony官网</a>
                <a class="yk-table__item" href="https://twig.symfony.com/" target="_blank">Twig官网</a>
                <a class="yk-table__item" href="http://php.net/" target="_blank">PHP官网</a>
                <a class="yk-table__item" href="https://www.php-fig.org/psr/" target="_blank">PHP编码标准</a>
                <a class="yk-table__item" href="https://git-scm.com/book/zh" target="_blank">GIT中文手册</a>
                <a class="yk-table__item" href="https://semver.org/lang/zh-CN/" target="_blank">语义化版本介绍</a>
                <a class="yk-table__item" href="https://www.w3.org/TR/html5/" target="_blank">HTML5标准规范</a>
                <a class="yk-table__item" href="https://api.jquery.com/" target="_blank">jQuery API</a>

            </div>

        </div>

    </div>

    <div class="yk-footer">
        <div class="yk-copyright">
            <span class="copyright-item">模块开发：<a href="http://www.indrupal.com/" target="_blank" title="QQ:1012574684 QQ群：203286137">云客</a></span>
            <span class="copyright-item">界面设计：<a href="http://www.vi-sure.com/" target="_blank" title="QQ:2304167266">晴空</a></span>
        </div>
    </div>

</div>
