/* ---------- Color Module Styles ----------- */

body {
  color: #0e062b;
  background: #33cc99;
}
#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.is-active {
  background-color: #ffffff;
}
.tabs ul.primary li.is-active a {
  border-bottom-color: #ffffff;
  background-color: #ffffff;
}
#header {
  background-color: #33cc99;
  background-image: -webkit-linear-gradient(top, #33cc99 0%, #33cc99 100%);
  background-image: linear-gradient(to bottom, #33cc99 0%, #33cc99 100%);
}
a,
.link {
  color: #875914;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #bb7813;
}
a:active,
.link:active {
  color: #e59b2c;
}
.sidebar .block {
  border-color: #f9f9f9;
  background-color: #f6f6f2;
}
.site-footer {
  background: #33cc99;
}
.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}

/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-right: 20px;
  margin-left: 0;
}
[dir="rtl"] .color-form .form-item label {
  float: right;
}
[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
